/* general */
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
    max-width: 1440px;
	background: hsl(0, 0%, 95%); /* Very light gray (background, headings, buttons) */
    font-size: 15px;
}

/* clearfix */
.group:before,
.group:after {
	content: " ";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	*zoom: 1;
}
main  {
    margin: 10% auto;
    max-width: 990px;
    height: 500px;
}
/* Column setup */
.column {
   width: 330px;
   height: 100%;
   padding: 50px;
}

.column h1 {
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
}

.column p {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
    max-width: 80%;
}

.column a {
    text-decoration: none;
    text-align: center;
    background-color: hsl(0, 0%, 95%);
    border-radius: 20% / 50%;
    padding: 10px;
}

/* Sedans column */
.sedans {
    background-color: hsl(31, 77%, 52%);
    float: left;
}

.sedans a {
    color: hsl(31, 77%, 52%);
}

/* SUVs column */
.suvs {
    background-color: hsl(184, 100%, 22%);
    float: left;
}

.suvs a {
    color: hsl(184, 100%, 22%);
}

/* Luxury column */
.luxury {
    background-color: hsl(179, 100%, 13%);
    float: left;
}

.luxury a {
    color: hsl(179, 100%, 13%);
}

/* Footer signature */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }